@charset "utf-8";
/* CSS Document */

body{
	font-family: Verdana, Futura, Arial, Helvetica, sans-serif;
	color:#8c8984;
	font-size:12px;	
	line-height:120%;
	text-align:justify;
	padding-left:20px;
	padding-top:0px;
	margin:0px;
}



/**-----COLOURS-----**/

.family{background-color:#7c046d;}
.pamper{background-color:#00b089;}
.bush{background-color:#7c3f04;}
.adventure{background-color:#478301;}
.beach{background-color:#0091dc;}
.cultural{background-color:#b0005f;}
.nature{background-color:#99d200;}
.international{background-color:#ff8a00;}
.sub_urban{background-color:#01017b;}
.romantic{background-color:#900;}
.lone_traveller{background-color:#999;}
.digital_detox{background-color:#F36;}

.gauteng{background-color:#7c046d;}

/**-----------------**/

table
{
	border-collapse:collapse;
	padding:0px;
}


p {
	font-family:'Arial';
	color:#818181;
	font-size:14px;
	line-height:150%;
	text-align:justify;
}

ul li {
	font-family:'Arial';
	font-size:14px;
	line-height:150%;
	text-align:justify;
}

.gamedrive-list {
	padding-left: 15px;
}

h1.grey{
	font-family:'Arial';
	color:#707070;
	line-height:100%;
	margin:0px;
	margin-bottom:25px;
	font-size:30px;	
	font-weight:normal;
}

h2.white{
	font-family:'Arial';
	color:white;
	line-height:100%;
	margin:0px;
	font-weight:normal;
}

h2.grey{
	font-family:'Arial';
	color:#707070;
	line-height:100%;
	margin:0px;
	font-weight:normal;
}

h3.grey{
	font-family:'Arial';
	color:#707070;
	line-height:100%;
	margin:0px;
	font-weight:normal;
}


h3.whiteItal{
	font-family:'Arial';
	color:white;
	line-height:100%;
	margin:0px;
	font-style:italic;
	font-weight:normal;
}


h3.greyFooter{
	font-family:'Arial';
	color:#707070;
	line-height:200%;
	margin:0px;
	font-weight:normal;
	padding-left:20px;
}

p.blockTextGrey{
	font-family:'Arial';
	color:#707070;
	font-weight:normal;
	font-size:14px;
	text-align:left;
	line-height:140%;
	
}

p.blockTextWhite{
	font-family:'Arial';
	font-weight:normal;
	font-size:14px;
	text-align:left;
	color:white;
}

p.white{
	font-family:'Arial';
	color:white;
}

p.footerText{
	font-family:'Arial';
	color:#606060;
	font-size:12px;
	padding-left:20px;
	line-height:190%;
}

ul.indiResorts{
	font-family:'Arial'; 
	font-size:14px; 
	font-weight:normal; 
	margin-left:-20px;
	line-height:150%;
}

.list-split{
	column-count: 2;
    column-gap: 35px;
}

ul.indiNotices{
	font-family:'Arial'; 
	font-size:14px; 
	font-weight:normal; 
	margin-left:-20px;
	line-height:150%;
}

ul.indiFAQ{
	font-family:'Arial'; 
	font-size:14px; 
	font-weight:normal; 
	line-height:150%;
	padding:0px 20px 0px 40px;
	text-align:justify
}

#map {
    height: 350px;
}

/**--Page Tabs--------------------------------------------------**/

.member {
	display: none;
	position: fixed; bottom: 35%; right: 0px;
	/*width: 100px;
	height: 70px;*/
	font: bold 0.9em/1.2em Arial, Helvetica, sans-serif; color: white; text-decoration: none;
	/*padding: 10px 0px 15px 0px;*/
	padding: 30px;
	background-color:#7c046d;
	opacity:0.8;
	text-align:center;
	z-index:20;
}

.urgent {
	display: none;
	position: fixed; bottom: 21%; right: 0px;
	/*width: 100px;
	height: 70px;*/
	font: bold 0.9em/1.2em Arial, Helvetica, sans-serif; color: white; text-decoration: none;
	padding: 31px;
	background-color:#c10000;
	opacity:0.8;
	text-align:center;
	z-index:20;
}

div.notice{
	text-align:left; 
	/*padding-left:10px; 
	padding-top:5px; */
	font-family:'Arial'; 
	font-size:16px; 
	font-weight:normal; 
	line-height:120%;
}

div.readmore{
	text-align:right; 
	padding-right:10px; 
	padding-top:5px; 
	font-style:italic; 
	font-size:10px; 
	font-weight:normal;
}

/**--Links------------------------------------------------------**/

a.purpleLinks{
	color:#7c046d;
	text-decoration:none;
	font-style:italic;
	font-weight:bold;
}

a.purpleLinks:hover{
	color:#646464;
}

a.whiteLinks{
	color:white;
	text-decoration:none;
	font-style:italic;
	font-weight:bold;
}

a.whiteLinks:hover{
	color:#646464;
}

a.whiteLinksPurple{
	color:white;
	text-decoration:none;
	font-style:italic;
	font-weight:bold;
}

a.whiteLinksPurple:hover{
	color:#7c046d;
}

a.footerLinks{
	color:#606060;
	text-decoration:none;
	text-align:left;
}

a.footerLinks:hover{
	color:#7c046d;
	text-decoration:none;
	text-align:left;
}

a.footerContactLinks{
	color:white;
	text-decoration:none;
	text-align:left;
}

a.footerContactLinks:hover{
	color:#606060;
	text-decoration:none;
	text-align:left;
}


a.innerWrapper{
	font-family:'Arial';
	border:1px solid white; 
	padding:0px 5px 0px 5px; 
	font-size:11px; 
	display:inline-block; 
	float:right; 
	margin-top:10px;
	font-style:italic;
	text-decoration:none;
	color:white;
}

a.innerWrapper:hover{
	border:1px solid pink; 
	padding:0px 5px 0px 5px; 
	font-size:11px; 
	display:inline-block; 
	float:right; 
	margin-top:10px;
	font-style:italic;
	color:pink;
	text-decoration:none;
}

a.innerWrapperResort{
	font-family:'Arial';
	border:1px solid white; 
	padding:0px 5px 0px 5px; 
	font-size:11px; 
	display:inline-block; 
	float:left; 
	margin-top:10px;
	font-style:italic;
	text-decoration:none;
	color:white;
}

a.innerWrapperResort:hover{
	border:1px solid pink; 
	padding:0px 5px 0px 5px; 
	font-size:11px; 
	display:inline-block; 
	float:left; 
	margin-top:10px;
	font-style:italic;
	color:pink;
	text-decoration:none;
}

a.innerWrapperGrey{
	font-family:'Arial';
	border:1px solid #707070; 
	padding:3px 8px 3px 8px; 
	font-size:11px; 
	display:inline-block; 
	float:right; 
	margin-top:0px;
	color:#707070;
	font-style:italic;
	text-decoration:none;
}

a.innerWrapperGrey:hover{
	border:1px solid pink; 
	padding:3px 8px 3px 8px; 
	font-size:11px; 
	display:inline-block; 
	float:right; 
	margin-top:0px;
	font-style:italic;
	text-decoration:none;
	background-color:white;
	color:pink;
}

a.innerWrapperFeaturedResort{
	font-family:'Arial';
	border:1px solid #707070; 
	padding:3px 8px 3px 8px; 
	font-size:11px; 
	display:inline-block; 
	float:right; 
	margin-top:0px;
	color:#707070;
	font-style:italic;
	text-decoration:none;
}

a.innerWrapperFeaturedResort:hover{
	border:1px solid #b8b8b8; 
	padding:3px 8px 3px 8px; 
	font-size:11px; 
	display:inline-block; 
	float:right; 
	margin-top:0px;
	font-style:italic;
	text-decoration:none;
	background-color:#707070;
	color:#b8b8b8;
}

a.innerWrapperBenefits{
	font-family:'Arial';
	border:1px solid white; 
	padding:2px 5px 3px 5px; 
	font-size:11px; 
	display:inline-block; 
	float:right; 
	margin-top:0px;
	font-style:italic;
	text-decoration:none;
	color:white;
}

a.innerWrapperBenefits:hover{
	border:1px solid pink; 
	padding:2px 5px 3px 5px; 
	font-size:11px; 
	display:inline-block; 
	float:right; 
	margin-top:0px;
	font-style:italic;
	text-decoration:none;
	color:pink;
}

a.subMenuFont{
	 font-family:'Arial'; 
	 font-size:12px; 
	 font-weight:bold;
	 line-height:0%;
	 margin:0;
	 color:white;
	 text-decoration:none;
}

a.subMenuFont:hover{
	 font-family:'Arial'; 
	 font-size:12px; 
	 font-weight:bold;
	 line-height:0%;
	 margin:0;
	 color:#3751a3;
	 text-decoration:none;
}

a.photoGallery{
	font-family:'Arial';
	border:1px solid white; 
	padding:5px 10px 5px 10px; 
	font-size:14px; 
	display:inline-block; 
	float:right; 
	margin-top:10px;
	font-style:italic;
	text-decoration:none;
	color:white;
	background-color:rgba(0,0,0,0.2);
}

a.photoGallery:hover{
	border:1px solid white; 
	padding:5px 10px 5px 10px; 
	font-size:14px; 
	display:inline-block; 
	float:right; 
	margin-top:10px;
	font-style:italic;
	color:white;
	text-decoration:none;
	background-color:rgba(0,0,0,0.5);
}

a.faqLinks{
	color:white;
	text-decoration:none;
	font-size:16px;
}
a.faqLinks:hover{
	color:#b8b8b8;
	text-decoration:none;
}

a.faqLinks:active{
	color:#b8b8b8;
}

a.faqLinksDark{
	color:white;
	text-decoration:none;
	font-size:16px;
}
a.faqLinksDark:hover{
	color:#7c7c7c;
	text-decoration:none;
}
a.faqLinksDark:active{
	color:#b8b8b8;
}


/**-------------------------------------------------------------**/


.landingHeading{
	font-family:'Arial';
	font-size:4em;
	color:white;
	font-weight:bold;
	line-height:100%;
}

.layer {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.whiteButton{
	border:1px solid white;
	color:white;
	width:auto;
}

.ghostWhite
{
	/* position centered */
  	display:inline-block;
	position: relative;
	/*-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);*/
	/* text styles */
	font-family: 'Arial';
	font-weight:bold;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	color:#ffffff;
	/* modify text */
	text-decoration:none;
	text-transform:uppercase;
	text-rendering:optimizeLegibility;
	/* add a border */
	border:0.15em solid #fff;
	padding:0.8em 1em;
	/* animate the change */
	-webkit-transition: color 300ms, background 500ms, border-color 700ms;
	transition: color 300ms, background 500ms, border-color 700ms;
}
.ghostWhite:hover
{
	background:white;
	border-color:white;
	color:#545e7a;
}

.ghostOrange
{
	/* position centered */
  	display:inline-block;
	position: relative;
	/*-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);*/
	/* text styles */
	font-family: 'Arial';
	font-weight:bold;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	color:#f6a800;
	/* modify text */
	text-decoration:none;
	text-transform:uppercase;
	text-rendering:optimizeLegibility;
	/* add a border */
	border:0.15em solid #f6a800;
	padding:0.8em 1em;
	/* animate the change */
	-webkit-transition: color 300ms, background 500ms, border-color 700ms;
	transition: color 300ms, background 500ms, border-color 700ms;
}
.ghostOrange:hover
{
	background:#f6a800;
	border-color:#f6a800;
	color:#545e7a;
}

/**---Main Menu---**/
.menu{
    left:0; 
    right:5%; 
    top:30px;
    margin: auto;
    text-align: right;
}

.navigation table{
    height: 20px;
}

.menu li{
    list-style: none outside none;
    display: inline-block;
	padding:0px 10px 0px 10px;
	text-align:center;
	font-weight:bold;
	font-size:14px;
}

.menu a{
	font-family:'Arial';
    text-decoration: none;
    color: #3751a3;
    font-size:  1.0em;
    letter-spacing: 0px;
}

.menu a:hover{
    color: #666666;
}

/**---Resort Finder---**/

.resortFinderGrey{
	font-family:'Arial';
	font-size:14px;
	background-color:#dfdfdf;
	color:#7c7c7c;
	padding:10px;
	line-height:100%;
}

.resortFinderGrey a:hover{
	background-color:#5c0150;
	color:white;	
}

.resortFinderWhite{
	font-family:'Arial';
	font-size:14px;
	background-color:white;
	color:#7c7c7c;
	padding:10px;
	line-height:100%;
}

/**------------------------------------------------------------**/

div.outerWrapper{
	color:white;
	background:#7c046d; 
	height:60px; 
	padding:10px; 
	font-size:16px; 
	font-family:'Arial'; 
	font-weight:bold; 
	line-height:100%;
	text-align:left;
}

@media (min-width: 768px) {
	section {
	    padding: 150px 0;
	}
}


div.outerWrapperBenefits{
	color:white;
	background:#7c046d; 
	padding:10px; 
	font-size:16px; 
	font-family:'Arial'; 
	font-weight:bold; 
}

div.outerWrapperResorts{
	color:white;
	background:#7c046d; 
	height:auto; 
	padding:20px; 
	font-size:11px; 
	font-family:'Arial'; 
	font-weight:bold; 
}

div.outerWrapperGrey{
	color:white;
	background:#cecece; 
	height:155px; 
	padding:10px; 
	font-size:16px; 
	font-family:'Arial'; 
	font-weight:bold; 
	line-height:100%;
	text-align:left;
}

div.outerWrapperWhite{
	color:white;
	background:white; 
	height:155px; 
	padding:10px; 
	font-size:16px; 
	font-family:'Arial'; 
	font-weight:bold; 
	line-height:100%;
	text-align:left;
	
}

div.outerWrapperResort{
	color:white; 
	height:70px; 
	width:250px;
	padding:0px; 
	font-size:16px; 
	font-family:'Arial'; 
	font-weight:bold; 
	line-height:100%; 
	text-align:left;
}

div.innerResortDetails{
	display:table-cell; 
	vertical-align:top;
	padding-top:8px; 
	padding-left:10px;
	padding-right:5px;
	font-size:14px;
	margin:0;
	line-height:100%;
}

.text_button {
   border: none;
   background-color: transparent;
   padding: 0;
   text-decoration: none;
   color: #7c046d;
   font-family:'Arial';
   font-size:16px;
   font-weight:bold;
   overflow:visible; 
}

div.feedbackGrey{
	background-color:#aeaeae; 
	color:white; 
	padding:10px 20px 10px 20px; 
	font-size:14px; 
	margin-left:20px;
	line-height:150%;
}

div.feedbackWhite{
	background-color:white; 
	color:#aeaeae; 
	padding:10px 20px 10px 20px; 
	font-size:14px; 
	margin-left:20px;
	line-height:150%;
}

.rci {
	height: 50px;
}


.resort-info-clue {
    font-size: 20px;
    color: #f9b233;
    font-weight: bold;
}

.group-resort {
    position: relative;
}

.group-resort img {
    position: relative
}

.text-resort {
    position: relative;
    bottom: 55px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}
